.env
*zip
*whl
*tar*
*sif*
*pdb
masterDB/
db_list_30nonred
Dockerfile
bin/__pycache__/
try.def
test*/*
!test/1ssh.pdb
bin/*.pl
.idea
try.def
venv_PatchmanProtocol/
containers/*
!containers/master.def
!containers/rosetta.def
!containers/python.def
!containers/mpitest.c
setup_python_env.sh
databases/
*cif
*list
*txt
slurm*
vm_line
dev/
venv*/
benchmark/
