# EDIT THIS PART FOR INSTALLATION #
PYROSETTA_USER=
PYROSETTA_PASS=

ROSETTA_USER=
ROSETTA_PASS=

MASTER_URL="https://grigoryanlab.org/master/master-v1.6.tar.gz"

####################################
#    EDIT THIS PART FOR RUNNING    #

PROTOCOL_ROOT=$1
# With default singularity installation, no need to touch these!
module load singularity
export SINGULARITY="$(which singularity) exec $PROTOCOL_ROOT/containers/"
export PYTHON="$SINGULARITY/python.sif python3 " # change this to python
export ROSETTA_BIN="$SINGULARITY/rosetta.sif /rosetta/main/source/bin/" # change this to Rosetta's path
export MASTER="$SINGULARITY/master.sif /master/bin/" # change this to path to MASTER's path
export VIRTUAL_ENV='' # you can leave this blank
export DB_PATH="" # you can leave this blank
export SEARCH_DB="" # for new DB, you can leave this blank
export SEARCH_DB="" # for new DB, you can leave this blank

# Run without singularity
# export PYTHON=python_executable (python if VIRTUAL_ENV is set)
# export ROSETTA_BIN=rosetta_bin_directory
# export MASTER=directory_of_master
# export VIRTUAL_ENV=path_to_virtualenv
# export DB_PATH=master_database_with_cleaned_PDB_files
